anytree==2.8.0
appdirs==1.4.4
arandr==0.1.10
attrs==19.3.0
Automat==20.2.0
backcall==0.2.0
beautifulsoup4==4.9.1
btrfsutil==1.2.0
CacheControl==0.12.6
cffi==1.14.0
chardet==3.0.4
click==7.1.2
colorama==0.4.3
constantly==15.1.0
contextlib2==0.6.0.post1
cryptography==3.2
cssselect==1.1.0
cycler==0.10.0
decorator==4.4.2
distlib==0.3.0
distro==1.5.0
docopt==0.6.2
filelock==3.0.12
Flask==1.1.2
geographiclib==1.50
geopy==1.22.0
GridDataFormats==0.5.0
gufw==20.4.0
html5lib==1.0.1
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
ipython==7.15.0
ipython-genutils==0.2.0
itemadapter==0.1.0
itsdangerous==1.1.0
jedi==0.17.0
Jinja2==2.11.2
jsmin==2.2.2
kiwisolver==1.2.0
louis==3.14.0
lxml==4.5.1
mallard-ducktype==1.0.2
MarkupSafe==1.1.1
matplotlib==3.2.1
meson==0.54.2
mlab==1.1.4
msgpack==1.0.0
netifaces==0.10.9
npyscreen==4.10.5
numpy==1.19.0
ordered-set==3.1.1
packaging==20.4
pacman-mirrors==4.16.5
pandas==1.0.5
parsel==1.6.0
parso==0.7.0
pep517==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
progress==1.5
prompt-toolkit==3.0.5
Protego==0.1.16
psutil==5.7.0
ptyprocess==0.6.0
pwquality==1.4.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.19.1
pycparser==2.20
PyDispatcher==2.0.5
Pygments==2.6.1
PyGObject==3.36.1
PyHamcrest==2.0.2
pyOpenSSL==19.1.0
pyparsing==2.4.7
PyQt5==5.15.0
PyQt5-sip==12.8.0
python-dateutil==2.8.1
python-xapp==2.0.0
pytoml==0.1.21
pytz==2020.1
pyzo==4.10.2
queuelib==1.5.0
ranger-fm==1.9.3
requests==2.23.0
retrying==1.3.3
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
Scrapy==2.2.0
service-identity==18.1.0
setproctitle==1.1.10
six==1.15.0
smopy==0.0.7
soupsieve==1.9.5
speedtest-cli==2.1.2
team==1.0
toml==0.10.1
traitlets==4.3.3
Twisted==20.3.0
ufw==0.36
ui==0.1.4
urllib3==1.25.9
virtualenv==20.0.21
w3lib==1.22.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
zope.interface==5.1.0
